body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

#logo {
    width: 150px;
    

}

header {
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.top {
    background-color: #F7F7F7;
}

form p {
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: none;
    border-left: none;
    height: 50px;
    background-color: #eaeaea;
    border-top: #F7F7F7;


}

form span {
    width: 10%;
    height: 100%;
}

#loc {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 40%;
    height: 100%;
    border: none;
    padding: 0;
    background-color: #eaeaea;
}

input::placeholder {
    color: black;
    font-weight: bold;

}


.presentation {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    height: 240px;
    text-align: center;
    align-items: center;

}

.num {
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    position: relative;
    right: 28px;
    padding: 2px 10px;
}

.num p {
    position: relative;
    bottom: 17px;
}

.presentation h1 {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
}

.presentation p {
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: grey;
    margin-block-start: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;

}


.button {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    height: 45px;
    border-width: 0;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(170deg,
            rgba(255, 121, 218, 0.8) 0%,
            rgba(214, 108, 219, 0.8) 39%,
            rgba(171, 94, 220, 0.8) 85%,
            rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 6px 6px 2px #acabab;
}


:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
}

.loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
    opacity: 1;
    animation: hide_loader 2s ease-in-out 0s forwards;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

@keyframes hide_loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }

}


.fonctionnement {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

}

.fonctionnement strong {
    margin-bottom: 10px;
    font-size: 23px;
    margin-left: 10px;
    margin-top: 45px;

}

.selection {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius: 20px 20px;
    text-align: center;
    height: 4rem;
    line-height: 2rem;
    white-space: nowrap;

}

.selection a {
    text-decoration: none;
    color: black;
    font-size: 100%;
    margin-left: 10px;
    font-weight: bold;

}

.selection:hover {
    background-color: #F5EDFF;
}

.selection:hover .icon {
    color: #9356DC;
}


.icon {
    color: grey;
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: 20px;

}

.all {
    display: flex;
    justify-content: space-between;

    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;

}

.card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 270px;
    box-shadow: 0px 0px 5px -1px grey;


}

.card img {
    height: 210px;
    width: 100%;

    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.containers {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart {
    margin-right: 10px;
    position: relative;
    color: black;

}

.heart i {
    position: absolute;
    top: -7px;
    right: 20px;
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    font-size: 25px;

}

.heart .filled-heart {
    opacity: 0;
    
}

.heart:hover .filled-heart {
    opacity: 1;
    color: #9356dc;

}

.heart:hover .empty-heart {
    opacity: 0;


}

.text {
    color: black;
}

.text h3 {
    margin-block-start: 0;
    margin-block-end: 0;

}

.text p {
    margin-block-start: 0;
    margin-block-end: 0;
}

section a {
    text-decoration: none;
    margin: 12px;
}

section {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1340px;
}

section strong {
    font-size: 25px;
    margin: 60px 0 10px 20px
}

footer {
    background-color: #353535;
    height: 220px;
}

footer h2 {
    color: white;
    font-family: "Shrikhand";
    margin-left: 20px;
    margin-block-start: 0;
    font-size: 17px;
    padding-top: 20px;
    font-weight: normal;
}

footer p {
    color: white;
    margin-left: 20px;
    text-decoration: none;


}

footer a {
    text-decoration: none;
    color: white;
}











@media screen and (min-width: 1024px) {

    #logo {
        width: 500px;
    }

    header {
        margin-bottom: 15px;
    }

    main {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        background-color: #F7F7F7;
    }

    form p {
        border-radius: 20px;
        display: flex;
        margin-left: 30px;
        background-color: white;

    }

    input[type="text"] {
        background-color: white;
    }

    .button {
        margin-top: 58px;
    }

    .fonctionnement {

        width: 50%;
        margin-left: 85px;
        background: linear-gradient(white, #eaeaea);
        border-radius: 0px 0 20px 20px;
    }

    .fonctionnement strong {
        margin: 25px;
    }

    .top {
        width: 50%;
    }

    .all {
        align-items: center;
        margin-top: 25px;
    }

    section a {
        width: 60%;
    }

    .selection {
        background-color: white;
    }
}