body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

#logo {
    width: 200px;
    display: flex;
    margin-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 33%;
    margin-bottom: 15px;
    align-items: center;
}

header a {
    font-size: 22px;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.tittle {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    transform: translateY(-80px);
    margin-bottom: -80px;
    padding: 5px 3vw;
    background-color: #f6f6f6;
    font-family: shrikhand, cursive;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heart {
    margin-right: 10px;
    font-size: 25px;
    margin-top: 28px;
    position: relative;
    color: #9356DC;

}

.heart i {
    position: absolute;
    top: 0;
    right: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

}

.heart .filled-heart {
    opacity: 0;
}

.heart:hover .filled-heart {
    opacity: 1;
}

.heart:hover .empty-heart {
    opacity: 0;
}


.button {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    height: 40px;
    border-width: 0;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 24%;
    margin-top: 35px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(170deg,
            rgba(255, 121, 218, 0.8) 0%,
            rgba(214, 108, 219, 0.8) 39%,
            rgba(171, 94, 220, 0.8) 85%,
            rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 6px 6px 2px #acabab;
}


section img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

section {

    border-radius: 20px 20px 0 0;

    background-color: #F7F7F7;
    height: auto;
    padding-bottom: 20px;


}

section h1 {
    font-family: "Shrikhand";
    margin-left: 2%;
}

.menu {
    border: solid 2px white;
    border-radius: 20px;
    margin: 3%;
    height: 85px;
    box-shadow: 0px 0px 5px -1px grey;
    background-color: white;
    display: flex;
    cursor: pointer;
    

}

.food {
    margin-top: 30px;
    width: 100%;
   
}

.menu {
    opacity: 0;
    margin-top: 10%;
    width: 93%;
}


.menu-1 {
    animation: fadein 2s ease-in-out 0.2s forwards;
}

.menu-2 {
    animation: fadein 2s ease-in-out 0.4s forwards;
}

.menu-3 {
    animation: fadein 2s ease-in-out 0.6s forwards;
}

.menu-4 {
    animation: fadein 2s ease-in-out 0.8s forwards;
}

.menu-5 {
    animation: fadein 2s ease-in-out 1s forwards;
}

.menu-6 {
    animation: fadein 2s ease-in-out 1.2s forwards;
}

.menu-7 {
    animation: fadein 2s ease-in-out 1.4s forwards;
}

.menu-8 {
    animation: fadein 2s ease-in-out 1.6s forwards;
}

.menu-9 {
    animation: fadein 2s ease-in-out 1.8s forwards;
}

.menu-10 {
    animation: fadein 2s ease-in-out 2s forwards;
}

.menu-11 {
    animation: fadein 2s ease-in-out 2.2s forwards;
}


.menu h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}

.plus {
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    width: 70%;
}

.plus p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price {
    font-weight: bold;
    margin-right: 25px;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

strong {
    border-bottom: solid #99E2D0;
    margin-left: 2%;
    padding-block-end: 3px;
    display: flex;
    width: 7%;

}


.card_check {
    display: flex;
    justify-content: center;
    color: #f6f6f6;
    background-color: #99E2D0;
    text-align: center;
    height: 100%;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    width: 0px;
    align-items: center;




}

.card_check i {

    width: 50px;
    display: flex;
    text-align: center;
    height: 50px;
    justify-content: center;
    align-items: center;
    opacity: 0;


}

.menu:active i {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation: rotation_check 0.5s linear 0s forwards;

}



.menu:active .card_check {
    animation: coche_animation 0.5s linear 0s forwards;
}

.menu:active .plus {
    animation: plus_animation 0.5s linear 0s forwards;
    
}

@keyframes coche_animation {
    0% {
        display: flex;



    }

    25% {
        width: 5%;

    }

    50% {
        width: 10%;

    }

    75% {
        width: 15%;

    }

    100% {
        width: 20%;

    }


}


@keyframes plus_animation {


    25% {
        width: 85%;
    }

    50% {
        width: 80%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 70%;
    }


}


@keyframes rotation_check {

    from {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }


}




@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 10%;
    }

    to {
        opacity: 1;
        margin-top: 3%;
    }

}









footer {
    background-color: #353535;
    height: 220px;
}

footer h2 {
    color: white;
    font-family: "Shrikhand";
    margin-left: 20px;
    margin-block-start: 0;
    font-size: 17px;
    padding-top: 20px;
    font-weight: normal;
}

footer p, a {
    color: white;
    margin-left: 20px;
    text-decoration: none;


}






@media screen and (min-width: 1024px) {

    .menu {
        width: 100%;
    }


    .menu_desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2%;
        margin-right: 2%;
    }

}